@use './colors' as *;

@mixin invertImageColor {
  filter: invert(1);
}

@mixin darkMode {
  background-color: #0f0f0f !important;
  color: #f1f1f1 !important;
}

@mixin transition($time: 0.2s) {
  transition: all $time ease-in-out;
}

@mixin shadow {
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
}

@mixin shadowSM {
  box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.08);
}

@mixin border {
  border: 1px solid $border;
}

@mixin defaultBorderRadius {
  border-radius: 12px;
}

@mixin hover {
  &:hover {
    outline: 1px solid $border;
  }
}

@mixin flexCenter($direction: column, $gap: 0px) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items:  center;
  gap: $gap;
}

@mixin flexSpaceEvenly($direction: column, $gap: 0px) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
  align-items:  center;
}

@mixin btnPrimary {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  height: 55px;
  padding: 6px;
  color: $bcLight;
  font-size: 26px;
  background-color: $primaryColor;
  border: none;
  border-radius: 8px;
    &:hover {
    background-color: $primaryColorLighter;
    box-shadow: 0px 0px 4px $primaryColor;
  }
}

@mixin btnSecondary {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  height: 55px;
  padding: 6px;
  font-size: 26px;
  border: none;
  border-radius: 8px;
  background-color: $secondary;
  color: $primaryColor;
  border: 1px solid $border;
  &:hover {
    background-color: $bcLight;
    box-shadow: 0px 0px 4px $secondaryDark;
  }
}

@mixin button {
  border: 1px solid $borderMuted;
  text-align: center;
  font-size: 18px;
  // font-weight: 600;
  border-radius: 6px;
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: color,background-color,box-shadow,border-color;
  margin: 4px;
  box-shadow: $shadow;
  cursor: pointer;
  &:focus {
    box-shadow: inset $shadow;
  }
  &:hover {
    box-shadow: 0px 0px 15px $border;
  }
  p {
    margin: 0 auto;
  }
}

@mixin clearButton {
  text-align: center;
  // font-size: 18px;
  border-radius: 6px;
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: color,background-color,box-shadow,border-color;
  cursor: pointer;
  &:focus {
    box-shadow: inset $shadow;
  }
  p {
    margin: 0 auto;
  }
}

@mixin backgroundBlur {
  background-color: $transparent-10;
  backdrop-filter: blur(20px);
}

@mixin gridResponsiveColumns {
  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 380px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
