@use './abstracts/' as *;

.categoryCardContainer {
  position: relative;
  display: grid;
  gap: 6px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.categoryCard {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(170, 170, 170, 0.185);
  border-radius: 12px;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  width: 100%;
  aspect-ratio: 1;
  text-overflow: ellipsis;
  align-items: center;
}

.categoryCard_image_div {
  position: relative;
  overflow: hidden;
  border-radius: 9px;
  width: 100%;
  background-color:black;
  height: 100%;
}

.categoryCard_img {
  object-fit: cover;
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0.978) 70%, #00000000 100%);
  -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0.978) 70%, #00000000 100%);
}

.categoryCard_text_div {
  position: absolute;
  width: 80%;
  bottom: 15px;
}

.categoryCard_text_name {
  margin: 0;
  text-align: center;
  color: white;
  padding-top: 2px;
  text-shadow: 2px 4px 12px rgba(0, 0, 0, 0.329);
  font-weight: 600;
}

