@use './abstracts' as *;

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 20;
  @include  backgroundBlur;
  height: 96px;
  @media (max-width: 800px) {
    position: relative;
  }
}

.header_container {
  margin: 0 auto;
  max-width: 1248px;
}

.main_header_container {
  display: flex;
  margin: auto;
  width: 100%;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  height: 48px;
}

.header_logo_container {
  display: flex;
  align-items: center;
  width: 100px;
  height: 48px;
  margin-left: 12px;
}

.header_logo_img {
  height: 18px;
  width: auto;
}

.nav_icon {
  top: 8px;
  margin-left: 4px;
  margin-top: 2px;
}

.nav_cart_icon {
  top: 8px;
  margin-right: 4px;
  margin-top: 2px;
}

.main_nav_link, .nav_link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  font-size: 14px;
  text-align: center;
  padding: 12px;
  white-space: nowrap;
  &:hover, focus {
    filter: opacity(70%);
    transition: opacity .05s cubic-bezier(.17,.67,.83,.67);
  }
}

.main_nav_link {
  padding: 12px;
}

.nav_search_container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
}

.header_SearchBar {
  background-color: $transparent-10;
  border: 1px solid $border;
  padding: 0.5rem;
  height: 36px;
  width: 100%;
  border-radius: 12px;
  outline: 0;
  font-size: 14px;
  font-family: Inter;
  margin-right: 12px;
  margin-left: 12px;
  transition: 50ms cubic-bezier(0.33, 1, 0.68, 1);
  &::placeholder {
    font-size: 12px;
    font-weight: 600;
    padding-left: -50px !important;
    text-align: center;
    color: $gray-400;
  }
  &:focus {
    border: 1px solid $borderMuted;
    & ~ .serach_btn {
      display: none;
    }
  }
}

.serach_btn {
  @include clearButton;
  position: absolute;
  right: 0;
  border-radius: 12px;
  padding: 8px;
  height: 100%;
  margin-right: 12px;
  background-color: none;
  background: none;
  border: none;
  box-shadow: none;
  transition: 100ms cubic-bezier(0.33, 1, 0.68, 1);
}

.btn_signOut {
  width: 70px;
}

.btn_back {
  box-shadow: none;
}

.white {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-weight: 600;
  height: 48px;

  button {
    background: none;
    color: $textColor;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 64px;
    height: 100%;
    &:hover {
      color: $gray-500;
    }
    &:focus {
      background-color: $bgColorDarker;
    }
  }
}

.category_name {
  width: 100%;
  font-weight: 600;
  text-align: center;
  color:$bcGray;
}

.header_main_nav_container {
  margin: auto;
  max-width: 2560px;
}

.header_main_nav {
  display: flex;
  height: 48px;
  overflow-y: hidden;
}

.login_dropdown {
  position: relative;

  &:hover .dropdown-content {
    display: block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    background-color: $bcLight;
    padding: 12px;
    border-radius: 12px;
    @include shadow;
    @include border;
  }
}

.dropdown_btn_container {
  @include flexCenter($gap: 10px)
}

.user_name {
  max-width: 100px;
  text-align: center;
  font-weight: 600;
}

.btn_signin {
  @include btnPrimary;
  background-color: $primaryColorLighter;
  color: $textColorWhite;
}

.btn_signup {
  @include btnSecondary;
  background-color: $secondary;
  color: $primaryColorLighter;
}

.btn_signin, .btn_signup {
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
}

.nav_menu_button_wrap {
  display: flex;
  justify-content: center;

  align-items: center;
}

.nav_menu {
  display: flex;
  min-width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .header {
    padding-left: 6px;
    padding-right: 6px;
  }
  .header_logo_container,
  .login_dropdown {
    display: none;
  }
  .nav_link {
    .nav_link_text{
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .nav_menu {
    display: none;
  }
}