@use './abstracts' as *;

$background-color: #e7e7e7;
$background-color-lighter-2: #a5a5a5;
$background-color-lighter: #bdbdbd;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  background-color: $bgColorLT;
  backdrop-filter: blur(10px);
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  // height: 96px;
}

.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding-left: 2vw;
  padding-right: 2vw;
  gap: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  height: 48px;
}

.header_logo_container {
  width: 100px;
}

.header_logo_img {
  height: auto;
  width: 100%;
  max-width: 20vw;
  // @include invertImageColor;
}

.header_userImg {
  width: 100px;
  max-width: 20vw;
  text-align: center;
}

.header_SearchBar {
  background-color: $bgColor2;
  border: 0;
  padding: 0.5rem;
  height: 36px;
  width: 450px;
  max-width: 50vw;
  border-radius: 12px;
  outline: 0;
  &::placeholder {
    text-align: center;
  }
  &:focus {
    background-color: $background-color-lighter-2;
  }
}

.category_top_bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-weight: 600;
  height: 48px;
  width: 100vw;

  button {
    background: none;
    color: inherit;
    border: none;
    // padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 64px;
    height: 100%;
    // margin-right: 2rem;
  }
}

@media (prefers-color-scheme: dark) {
  $textColorPrimary: #f1f1f1;
}
