@use './abstracts/' as *;

.title {
  margin-bottom: 1.2rem;
  line-height: 1.15;
  font-size: 1.6rem;
  text-align: center;
}

.carousel_container {
  max-width: 2560px;
  height: 33vw;
  max-height: 400px;
  margin-bottom: 24px;
}

.carousel_image_container {
  max-width: 1600px;
}

.carousel_container_img {
  object-fit: cover;
}

.swiper_button_next, .swiper_button_prev {
  color: white;
  background-color: #fff;
  width: 20vw;
  height: 100%;
}

.productSaleCard {
  @include shadow;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 12px;
  width: 95vw;
  max-width: 400px;
  max-height: 315px;
  background-color: #c7c7c7;
  text-overflow: ellipsis;
  align-items: flex-start;
  margin-top: 1rem;
  @include changeColorMode;
}

.productSale_image_div {
  position: relative;
  overflow: hidden;
  border-radius: 9px;
  width: 100%;
  height: 210px;
}

.productSale_img {
  object-fit: cover;
}

.productSale_text {
  font-size: 1rem;
  font-family: 'Inter';
  padding-top: 2px;
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

.productSale_text_name_amount {
  background-color: #C30000;
  color: $textColor;
  border-radius: 3px;
  padding: 0.3rem;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Inter';
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
