@use './abstracts/' as *;

.main {
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 36px;
  margin-top: 36px;
  max-width: 1248px;
  @include flexCenter(column);
  justify-content: center;
  gap: 36px;
  @media (max-width: 600px) {
    gap: 16px;
    padding-right: 6px;
    padding-left: 6px;
  }
}