@use './abstracts/' as *;

.main {
  @include flexCenter(column);
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 48px;
  margin-top: 148px;
  max-width: 1248px;
  gap: 64px;
  @media (max-width: 600px) {
    gap: 16px;
    padding-right: 12px;
    padding-left: 12px;
  }
}