@use './abstracts/' as *;

.logoContainer {
  display: grid;
  position: relative;
  margin-top: 10vh;
  margin-bottom: 20px;
  place-items: center;
}

.logo_img {
  width: 250px;
  height: auto;
  aspect-ratio: auto;
}

.loginForm_Parent {
  display: grid;
  place-items: center;
  height: 100vh;
}

.loginForm {
  margin: auto;
  width: 350px;
  max-width: 90vw;
  min-width: 300px;
  border-radius: 12px;
  background-color: $bgColorL;
  border: 1px solid $borderDefault;
  @include flexCenter(column);
  padding: 16px;
  gap: 4px;
  label {
    display: block;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 2px;
  }
  button {
    width: 95%;
  }
}

.btn_primary {
  @include btnPrimary;
}

.btn_secondary {
  @include btnSecondary;
  height: 38px;
  font-size: 20px;
}