.arrow {
  width: 20px;
  height: 50px;
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
}

.arrow__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.arrow__left {
  left: 5px;
}

.arrow__right {
  // left: auto;
  right: 5px;
}

.arrow__disabled {
  filter: opacity(50%);
}